name: CI

on:
  push:
  pull_request:

jobs:
  validate-compose:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Validate docker compose
        run: docker compose config
